body{
    background-color: #ff7f50;
    width: 100%;
}

button{
    margin: 0 5%;
}

#imgs{
    margin: 0 15%;
    display: flex;
    flex-flow: row wrap;
}

#imgs img{
    width: 250px;
    margin: 2%;
    height: auto;
    flex: 1;
}